<%= form_for(@issue) do |f| %>
  <% if @issue.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h4>

      <ul>
      <% @issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :issue %>
    <%= f.number_field :issue, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :system %>
    <%= f.text_field :system, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :published %>
    <div class="input-group date" id="publishedDate">
      <%= f.text_field :published, class: 'form-control' %>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>

  <%= f.submit({class: 'btn btn-primary'}) %>
<% end %>

<script type="text/javascript">
$(function () {
  $('#publishedDate').datetimepicker({
    format: 'YYYY-MM'
  });
});
</script>
