<% if user_signed_in? %>
<p><%= link_to 'New Issue', new_issue_path, class: 'btn btn-default' %></p>
<% end %>

<ul class="issues">
<% @issues.order_by(:issue.asc).each do |issue| %>
  <li>
    <div>
      <h1><%= link_to 'issue ' + issue.issue.to_s, issue %></h1>
      <div class="date"><%= issue.published %></div>
      <div class="footer">
        <%= issue.articles.count %> articles<br>
        <%= issue.adventures.count %> adventures
      </div>
    </div>
  </li>
<% end %>
</ul>
