<p id="notice"><%= notice %></p>

<p>
  <strong>Issue:</strong>
  <%= @issue.issue %>
</p>

<p>
  <strong>System:</strong>
  <%= @issue.system %>
</p>

<% if user_signed_in? %>
<%= link_to 'Edit', edit_issue_path(@issue) %> |
<% end %>
<%= link_to 'Back', issues_path %> |
<%= link_to 'Adventures', issue_adventures_path(@issue) %> |
<%= link_to 'Articles', issue_articles_path(@issue) %>
