<%= form_for([@article.issue, @article]) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h4>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :synopsis %>
    <%= f.text_area :synopsis, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :page %>
    <%= f.number_field :page, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :authors %><br>
    <%= f.select :authors, @article.authors || [], {}, multiple: true, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :keywords %><br>
    <%= f.select :keywords, @article.keywords || [], {}, multiple: true, class: 'form-control' %>
  </div>
  <%= f.submit({class: 'btn btn-primary'}) %>
<% end %>
<script>
tagsinputConf = {
  trimValue: true,
  allowDuplicates: false,
  freeInput: true
};
$('#article_authors').tagsinput(tagsinputConf);
$('#article_keywords').tagsinput(tagsinputConf);
</script>
