<h1>Issue Articles</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Synopsis</th>
      <th>Page</th>
      <th>Authors</th>
      <th>Keywords</th>
      <% if user_signed_in? %>
      <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to article.title, [article.issue, article] %></td>
        <td><%= article.synopsis %></td>
        <td><%= article.page %></td>
        <td><%= article.authors %></td>
        <td><%= article.keywords %></td>
        <% if user_signed_in? %>
        <td><%= link_to 'Edit', edit_article_path(article.issue, article) %> |
          <%= link_to 'Destroy', [article.issue, article], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
<%= link_to 'New Article', new_issue_article_path %> |
<% end %>
<%= link_to 'Back to issue', issue_path(@issue) %>
