<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Synopsis:</strong>
  <%= @article.synopsis %>
</p>

<p>
  <strong>Page:</strong>
  <%= @article.page %>
</p>

<p>
  <strong>Authors:</strong>
  <%= @article.authors %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @article.keywords %>
</p>

<% if user_signed_in? %>
<%= link_to 'Edit', edit_issue_article_path(@article.issue, @article) %> |
<% end %>
<%= link_to 'Back', issue_articles_path %>
