<p>
  <% if user_signed_in? %>
  <%= link_to 'Destroy', [@article.issue, @article], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-danger' %>
  <%= link_to 'Edit', edit_issue_article_path(@article.issue, @article), class: 'btn btn-default' %>
  <% end %>
  <%= link_to 'Back', issue_path(@article.issue), class: 'btn btn-default' %>
</p>

<h2><%= @article.title %> <small>page <%= @article.page %></small></h2>
<p><em>by <%= @article.authors.join(', ') %></em></p>
<p class="lead"><%= @article.synopsis %></p>
<p><%= render_keywords(@article.keywords) %></p>
