<% if user_signed_in? %>
<%= link_to 'Destroy', [@adventure.issue, @adventure], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-danger' %>
<%= link_to 'Edit', edit_issue_adventure_path(@adventure.issue, @adventure), class: 'btn btn-default' %>
<% end %>
<%= link_to 'Back', issue_path(@adventure.issue), class: 'btn btn-default' %>

<h2><%= @adventure.title %> <small>page <%= @adventure.page %></small></h2>
<p><em>by <%= render_authors(@adventure.authors) %></em></p>
<p class="lead"><%= @adventure.synopsis %></p>
<p>An adventure for characters between level <%= @adventure.min_level %> and <%= @adventure.max_level %>.</p>
<p><%= render_keywords(@adventure.keywords) %></p>
