<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dungeon Magazine Index</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to('Dungeon Magazine Index', root_path, { class: 'navbar-brand' }) %>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to('Issues', issues_path) %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
          <li><%= link_to('Log Out', destroy_user_session_path, method: :delete) %></li>
          <% else %>
          <li><%= link_to('Log In', new_user_session_path) %></li>
          <% end %>
        </ul>
        <%= form_tag(issues_path, method: 'get', class: 'navbar-form navbar-right', role: 'search', id: 'search-form') do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search..." %>
            <span class="input-group-btn">
              <button class="btn btn-info" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </span>
          </div>
        <%end %>
      </div>
    </div>
  </nav>
  <div class="container">
    <% if flash[:notice] %><div class="alert alert-info"><%= flash[:notice] %></div><% end %>
    <% if flash[:alert] %><div class="alert alert-danger"><%= flash[:alert] %></div><% end %>
    <%= yield %>
  </div>
</body>
</html>
